<!-- <h2>Welcome to the Recipe Book</h2> -->
<img src="https://i.etsystatic.com/10591113/r/il/e614eb/720407533/il_570xN.720407533_cfek.jpg" alt="Italian Trulli">
<!-- <style>
    body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("https://i.etsystatic.com/10591113/r/il/e614eb/720407533/il_570xN.720407533_cfek.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style> -->